.tap-tap-section {
	padding-top: 3rem;
	background-color: #ffc0cb;
	position: relative;

	h2 {
		text-align: center;
		font-size: 60px;
		color: #ffffff;
		-webkit-text-stroke: 1.5px #000;
		line-height: 1.2;
	}

	.tap-tap-cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px 10px;
		margin-top: 50px;

		@media screen and (max-width: 600px) {
			display: flex;
			flex-direction: column;
			padding-bottom: 150px;
		}
	}
}
